<h1>Random Beer Page</h1>
<img class='random-beer__image' height='200' width='200' src='http://img1.wikia.nocookie.net/__cb20140409232122/simpsons/images/0/03/Duff_logo.gif'/>
<div><u>Name:</u> <%= @beer.name %></div><br>
<div><u>Brewery:</u> <%= @beer.brewery %></div><br>
<div><u>Style:</u> <%= @beer.style %></div><br>
<div><u>Organic:</u> <%= @beer.organic %></div><br>
<div><u>Description:</u> <%= @beer.description %></div><br>
<br>
<br>
<h2><%= link_to 'HOME', home_path %> | <%= link_to 'ALL BEERS', beers_path %></h2>
