<p id="notice"><%= notice %></p>
<img class='beer__image' src=<%= @beer.pic %>/>
<div><u>Name:</u> <%= @beer.name %></div><br>
<div><u>Brewery:</u> <%= @beer.brewery %></div><br>
<div><u>Style:</u> <%= @beer.style %></div><br>
<div><u>Season:</u> <%= @beer.season %></div><br>
<div><u>Organic:</u> <%= @beer.organic %></div><br>
<div><u>Description:</u> <%= @beer.description %></div><br>
<br>
<h2><%= link_to 'Back', beers_path %></h2>
