<p id="notice"><%= notice %></p>
<h1><%= @brewery.name %></h1>
<br>
<img src=<%= @brewery.pic %>>
<p><u>Established:</u> <%= @brewery.established %></p>
<p><u>Description:</u> <%= @brewery.description %></p>
<p>Veiw their website <span><a href=<%= @brewery.website%> >here</a>
<h2>All <%= @brewery.name %> beers</h2>
<br>
<h4><%= link_to 'HOME', home_path %> | <%= link_to 'BACK', breweries_path %></h4>
